<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        User
      </td>
      <td>
        <%= @note.user.full_name %>
      </td>
    </tr>
    <tr>
      <td>
        Company
      </td>
      <td>
        <%= @note.company.name %>
      </td>
    </tr>
    <tr>
      <td>
        Owner
      </td>
      <td>
        <%= link_to @note.owner_type, @note.owner if @note.owner %>
      </td>
    </tr>
    <tr>
      <td>
        Details
      </td>
      <td>
        <%= @note.details %>
      </td>
    </tr>


  </table>


  <div>
    <%= link_to "Edit" , edit_note_path(@note), {class: "btn btn-primary" } %> |
    <%= button_to "Delete" , @note, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" %>
  </div>