<tr id="<%= dom_id client %>">
  <td>
    <%= client.first_name %>
  </td>
  <td>
    <%= client.last_name %>
  </td>
  <td>
    <%= client.email %>
  </td>
  <td>
    <%= client.phone %>
  </td>
  <td>
    <%= client.user_type %>
  </td>
  <td>
    <%= client.user_id %>
  </td>
  <td>
    <%= client.company.name %>
  </td>
  <td>
    <%= link_to "Show" , client , {class: "btn btn-primary" }%>
    <%= link_to "Create Quote" , new_quote_path("quote[client_id]": client.id) , {class: "btn btn-primary"} if client.user_type == "Client" %>
  </td>
</tr>