<%= render "/layouts/alerts" %>
  <% label = (params[:user_type] == "Client") ? "Client" : "External User" %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= label %></h1>
    <%= link_to "New #{label}" , new_client_path("client[company_id]": current_user.company_id, 
                "client[user_type]": params[:user_type]), {class: "btn btn-primary" } %>
  </div>

  <%= render "/layouts/steps", steps: ["Create Clients", "Create Contractors", "Give Access to Projects", "Generate Quotes"].freeze %>

  <div class="table-responsive" data-controller="datatable">

    <table id="clients" class="table table-bordered dataTable">
      <thead>
        <tr>
          <th>
            First Name
          </th>
          <th>
            Last Name
          </th>
          <th>
            Email
          </th>
          <th>
            Phone
          </th>
          <th>
            Type
          </th>
          
          <th>
            User
          </th>
          <th>
            Company
          </th>

          <th>
            Action
          </th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>

  </div>