

<tr id="<%= dom_id attachment %>">
  <td>
    <%= link_to attachment.name, attachment %>
  </td>
  <td>
    <%= render "/layouts/attachments", attachments: attachment.attachments, allow_delete: "No" %>
  </td>
  <td>
    <%= attachment.attached_by.full_name %>
  </td>
  <td>
    <span class="badge <%= attachment.approval_status == 'Approved' ? 'bg-success' : 'bg-danger' %>">
      <%= attachment.approval_status %>
    </span> 
  </td>
  <td>
    <%= attachment.approved_by.full_name if attachment.approved_by  %>
  </td>

  <td>
    <span class="badge <%= attachment.visible_to_client ? 'bg-success' : 'bg-warning' %>">
      <%= attachment.visible_status %>
    </span>  
  </td>

  <td>
    <%= attachment.step.name %>
  </td>
  <td>
    <%#= link_to "Show" , attachment , {class: "btn btn-primary" }%>
    <%= button_to "Delete" , attachment_path(attachment) , class: "btn btn-danger", method: :delete, confirm: "Are you sure?" %>
    <% if policy(attachment).toggle_approval? %>
      <%= button_to "Approve" , toggle_approval_attachment_path(attachment, approval_status: "Approved") , {class: "btn btn-success", method: :patch }%>
      <%= link_to "Reject" , edit_attachment_path(attachment, approval_status: "Rejected") , {class: "btn btn-warning" }%> 
    <% end %>
  </td>
</tr>