<%= form_with(model: attachment) do |form| %>
  <% if attachment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
        <% attachment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :position, "Sequence" %>
    <%= form.number_field :position, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :approval_status %>
    <%= form.select :approval_status, ["Pending", "Approved", "Rejected"], {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.rich_text_area :details, class: "form-control trix-content"  %>
  </div>

  <div class="form-group">
    <%= form.label :visible_to_client %>
    <%= form.check_box :visible_to_client, class: "form-control form-checkbox"  %>
  </div>


  <div class="field" class="form-group" data-controller="directuploads" >
    <%= form.label :attachments, "Attachments" %>
    <%= form.file_field :attachments, class: "form-control", direct_upload: true, multiple:true %>
    <small class="text-muted"> Upload multiple attachements. </small>
  </div>

  <%= form.text_field :company_id, hidden: true %>
  <%= form.text_field :project_id, hidden: true  %>
  <%= form.text_field :phase_id, hidden: true  %>
  <%= form.text_field :step_id, hidden: true  %>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
