<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :cost_estimate_cents, "Cost Estimate" %>
    <%= form.text_field :cost_estimate_cents, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Project::STATUS, {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
