<%= form_with(model: project, validate: true) do |form| %>
  <% if project.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" data-controller="project">
    <%= form.label :client_id, "Client" %>
    <% client_name = project.client ? project.client.full_name : "" %>
    <%= form.text_field :client_name, {class: "form-control", value: "#{client_name}"} %>
    <%= form.text_field :client_id, {class: "form-control", hidden: "hidden"} %>
    <%#= form.select :client_id, current_user.company.clients.collect(&:user).map{|u| [u.full_name, u.id]}, {}, {class: "form-control"} %>
    <small class=class="text-muted">Click to create <%= link_to "New Client", new_client_path("client[user_type]": "Client") %></small>
  </div>

  <div class="form-group">
    <%= form.label :name, "Project Name" %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= form.label :project_type %>
    <%= form.select :project_type, ENV["PROJECT_TYPES"].split(","), {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :scale %>
    <%= form.select :scale, ENV["SCALE"].split(","), {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :style %>
    <%= form.select :style, ENV["STYLES"].split(","), {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :pattern %>
    <%= form.select :pattern, ENV["PATTERNS"].split(","), {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :services %>
    <%= form.select :services, ENV["SERVICES"].split(","), {include_blank: false, include_hidden: false}, 
        class: "form-control select2", multiple: "multiple"  %>
  </div>
  
  <div class="form-group">
    <%= form.label :client_estimated_budget %>
    <%= form.number_field :client_estimated_budget, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :estimated_builtup_area  %>
    <%= form.number_field :estimated_builtup_area, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :actual_builtup_area %>
    <%= form.number_field :actual_builtup_area, class: "form-control"  %>
  </div>

  <div data-controller="fee">
    <div class="form-group">
      <%= form.label :fee_type %>
      <%= form.select :fee_type, Project::FEE_TYPE, {}, class: "form-control",
          "data-action": "change->fee#onChange" %>
    </div>

    <div class="form-group" id="percentage_fee">
      <%= form.label :percentage_of_estimated_budget, "Fee as % of Budget" %>
      <%= form.number_field :percentage_of_estimated_budget, class: "form-control"  %>
    </div>

    <div class="form-group" id="per_sqft_fee">
      <%= form.label :per_sq_ft_rate, "Fee as Rate / SqFt " %>
      <%= form.number_field :per_sq_ft_rate, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Project::STATUS, {}, {class: "form-control"} %>
  </div>


  <div class="form-group">
    <%= form.label :details %>
    <%= form.rich_text_area :details, class: "form-control trix-content"  %>
  </div>
  
  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
