<div class="associated_entity" data-controller="tabs">
    <nav class="nav nav-tabs nav-fill nav-justified" role="tablist">
        <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#phases-tab">Phases</a>
        <% if policy(:payment).index? %>
            <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#payments-tab">Payments</a>
        <% end %>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#site-visits-tab">Site Visits</a>

        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#notes-tab">Notes</a>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#accesses-tab">Access</a>
    </nav>



    <div class="tab-content">
        <div id="phases-tab" class="tab-pane fade show active">
            <div id="phases" class="associated_entity">
                <%= render "/phases/index" , phases: project.phases.order(start_date: :asc).includes(:assigned_to) %>
            </div>
        </div>
        <% if policy(:payment).index? %>
            <div id="payments-tab" class="tab-pane fade">
                <div id="payments" class="associated_entity">
                    <%= render "/payments/index", payments: policy_scope(project.payments).includes(:project, :phase, :user) %>
                </div>
            </div>
        <% end %>
        
        <div id="site-visits-tab" class="tab-pane fade">
            <div id="site_visits" class="associated_entity">
                <%= render "/site_visits/index", site_visits: policy_scope(project.site_visits).includes(:project, :phase, :assigned_to) %>
            </div>
        </div>

        <div id="notes-tab" class="tab-pane fade">
            <div id="notes" class="associated_entity">
                <%= render "/notes/index", notes: project.notes.with_all_rich_text, owner: project %>
            </div>
        </div>

        <div id="accesses-tab" class="tab-pane fade">
            <div id="accesses" class="associated_entity">
                <%= render "/project_accesses/index", project_accesses: project.project_accesses %>
            </div>
        </div>

    </div>

</div>