<tr id="<%= dom_id project %>">
  <td>
    <%= project.client.full_name %>
  </td>
  <td>
    <%= link_to project.name, project %>
  </td>
  <td>
    <%= l project.start_date %>
  </td>
  <td>
    <%= l project.end_date %>
  </td>
  <td>
    <%= money_to_currency project.cost_estimate, params %>
  </td>
  <td>
    <%= money_to_currency project.payment_amount, params %>
  </td>
  <td>
    <%= number_with_precision project.percentage_completed_days, precision: 2 %> %
  </td>
  <td>
    <span class="badge <%= status_badge(project) %>">
      <%= project.status %>
    </span>
  </td>
  <td>
    <%= project.company.name %>
  </td>
  <td>
    <%= link_to "Show" , project , {class: "btn btn-primary" }%>
  </td>
</tr>