<tr id="<%= dom_id project %>">
  <td>
    <%= project.client.full_name %>
  </td>
  <td>
    <%= link_to project.name, project %>
  </td>
  <td>
    <%= l project.start_date %>
  </td>
  <td>
    <%= l project.end_date %>
  </td>
  <% if current_user.has_cached_role?(:team_lead) %>
    <td>
      <%= money_to_currency project.client_estimated_budget, params %>
    </td>
    <td>
      <%= money_to_currency project.payment_amount, params %>
    </td>
  <% end %>
  <td>
    <%= number_with_precision project.percentage_completed_days, precision: 2 %> %
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: <%=project.percentage_completed_days%>%" aria-valuenow="<%=project.percentage_completed_days%>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </td>
  <td>
    <span class="badge <%= status_badge(project) %>">
      <%= project.status %>
    </span>
  </td>
  <td>
    <%= project.entity_name.present? ?  project.entity_name : project.company.name %>
  </td>
  <td>
    <%= link_to "Show" , project , {class: "btn btn-primary" }%>
  </td>
</tr>