<%= render "/layouts/alerts" %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Projects</h1>
    <span>
      <%= render "/projects/status_filter" %>

      <% project = Project.new(company_id: current_user.company_id) %>
      <%= link_to "New Project" , new_project_path("project[company_id]": project.company_id), 
          {class: "btn btn-primary"}  if policy(project).new? %>

      <%= link_to "New Client" , new_client_path("client[company_id]": current_user.company_id, 
          "client[user_type]": "Client"), {class: "btn btn-primary" } %>      
    </span>
  </div>

  <%= render "/layouts/steps", steps: ["Setup Client", "Create Project", "Add Phases",
                      "Add Steps", "Add Site Visits"].freeze %>


  <div class="table-responsive" data-controller="datatable">

    <table id="projects" class="table table-bordered dataTable jqDataTable">

      <thead>
        <tr>
          <th>
            Client
          </th>
          <th>
            Project Name
          </th>
          <th>
            Start Date
          </th>
          <th>
            End Date
          </th>
          <th>
            Budget Estimate
          </th>
          <th>
            Payments
          </th>
          <th>
            Percentage Completed
          </th>
          <th>
            Status
          </th>
          <th>
            Company
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <%= render project %>
        <% end %>
      </tbody>
    </table>

  </div>