<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Client
      </td>
      <td>
        <%= @project.client.full_name %>
      </td>
    </tr>

    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @project.name %>
      </td>
    </tr>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        <%= l @project.start_date %>
      </td>
    </tr>
    <tr>
      <td>
        End Date
      </td>
      <td>
        <%= l @project.end_date %>
      </td>
    </tr>
    <tr>
      <td>
        Cost Estimate Cents
      </td>
      <td>
        <%= money_to_currency @project.cost_estimate, params %>
      </td>
    </tr>
    <tr>
      <td>
        Percentage Completed
      </td>
      <td>
        <%= number_with_precision @project.percentage_completed_days, precision: 2 %> %
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%= @project.status %>
      </td>
    </tr>
    
    <tr>
      <td>
        Days
      </td>
      <td>
        Total: <%= @project.total_days %>, 
        Completed: <%= @project.completed_days %>
      </td>    
    </tr>

    <tr>
      <td>
        Details
      </td>
      <td>
        <%= @project.details %>
      </td>    
    </tr>

    <tr>
      <td>
        Company
      </td>
      <td>
        <%= @project.company.name %>
      </td>
    </tr>


  </table>


  <div>
    <%= link_to "Edit" , edit_project_path(@project), {class: "btn btn-primary" } %> |
    <%= link_to "Add Phase" , new_phase_path(project_id: @project.id), {class: "btn btn-success" } %> |
    <%#= link_to "Clone Project" , clone_project_path(@project), {class: "btn btn-success" } %> |
    <%= button_to "Delete" , @project, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" %>
  </div>

  <div data-controller="datatable">
    <%= render "/projects/project_details", project: @project %>
  </div>