
<% if !current_user.company_id.present? %>
    <div class="alert alert-danger" role="alert">
        You are not associated with your startup in our database. Step 1.   
        <a class="btn btn-primary" rel="nofollow" href="<%= new_company_path("company[company_type]": "Startup") %>">Setup Startup →</a>
    </div>
<% end %>



<%= render "companies/cxo_dashboard_stats" %>

<% cache current_user.company do %>
    <%= render "investments/charts", company: current_user.company %>
<% end %>

<% cache current_user.company.notes.last do %>

    <%= render "notes/charts", company: current_user.company %>

    <% if current_user.company.notes.count > 0 %>
    <div class="associated_company">
        <% notes = current_user.company.notes.with_all_rich_text.includes(:user, :investor) %>
        <%= render "notes/index", notes: notes.order("notes.id desc").limit(5), title: "Recent Notes" %>
    </div>
    <% end %>

<% end %>

<% if current_user.company.investors.not_interacted(30).count > 0 %>
<div class="associated_company">
    <% investors = current_user.company.investors.includes(:investor_accesses, :investor_company, :investee_company, tags: :taggings) %>
    <%= render "investors/index", investors: investors.not_interacted(30).limit(5).page, title: "No Interaction in 30 Days" %>
</div>
<% end %>

<% cache("PublicActivity#{current_user.company_id}", expires_in: 1.hour) do %>
    
    <% if PublicActivity::Activity.where(company_id: current_user.company_id).count > 0 %>
        <% activities = PublicActivity::Activity.where(company_id: current_user.company_id).includes(:trackable, :owner).order(id: :desc).limit(10) %>            
        <%= render "notifications/timeline", activities: activities if activities %>
    <% end %>

<% end %>

