<% if company.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :company_type %>
    <%= form.select :company_type, Company::TYPES, {}, {class: "form-control"} %>
  </div>
  
  <div class="form-group">
    <%= form.label :industry %>
    <%= form.text_field :category, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= form.label :details %>
    <%= form.rich_text_area :details, class: "form-control trix-content"  %>
  </div>

  
  <%= form.text_field :id, class: "form-control", hidden: true   %>
  <div data-controller="companyform"></div>
