<p style="color: green;text-align: center"><%= notice %></p>

<div class="card shadow mb-4">

   <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= link_to @company.name, @company %></h6>
   </div>

   <div class="card-body">

      <table class="table table-bordered dataTable ">
         <tr>
            <td>
               Url
            </td>
            <td>
               <%= @company.url if @company.url.present? %>
            </td>
         </tr>
         <tr>
            <td>
               Category
            </td>
            <td>
               <%= @company.category %>
            </td>
         </tr>
         <tr>
            <td>
               Address
            </td>
            <td>
               <%= @company.address %>
            </td>
         </tr>
         <tr>
            <td>
               GST
            </td>
            <td>
               <%= @company.gst_number %>
            </td>
         </tr>

         <% if @company.company_type == "Startup" %>
         <tr>
            <td>
               Currency
            </td>
            <td>
               <%= @company.currency %>
            </td>
         </tr>

         <!-- <tr>
            <td>
               Currency Units
            </td>
            <td>
               <%= @company.units %>
            </td>
         </tr> -->

         <% end %>

      </table>
      <% if current_user.company_id == @company.id %>
      <div>
         <%= link_to "Edit", edit_company_path(@company), {class: "btn btn-primary"} %> |
         <%= button_to "Delete", @company, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
      </div>
      <% end %>
   </div>
</div>

