
<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}", class: "text-center alert alert-info" if msg.is_a?(String) %>
<%- end -%>  

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="container" data-turbo='false'>

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome To Aakrat</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="user_email" aria-describedby="emailHelp"
                                                name="user[email]", value="<%=params[:email]%>"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                              name="user[password]"
                                              id="user_password" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                                <input type="checkbox"  
                                                id="user_remember_me" name="user[remember_me]">
                                                <label for="user_remember_me">Remember
                                                    Me</label>
                                        </div>
                                        
                                        <input type="submit" name="commit" class="btn btn-primary btn-user btn-block" 
                                          value="Log in" data-disable-with="Log in">

                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <%= render "devise/shared/links" %>
                                    </div>
                                    <!-- <div class="text-center">
                                        <%= link_to "Forgot Password", new_user_password_path(resource_name), class: "small" %>
                                    </div>
                                    <div class="text-center">
                                        <%= link_to "Sign up", new_registration_path(resource_name), class: "small" %>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

<% end %>



