<%= form_with(model: payment, validate: true) do |form| %>
  <% if payment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "form-control"  %>
    <%= form.text_field :project_id, hidden: true  %>
  </div>

  <div class="form-group">
    <%= form.label :phase %>
    <%= form.select :phase_id, payment.project.phases.payment_required.map{|u| [u.name, u.id] }, {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Payment::STATUS, {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :received_on %>
    <%= form.date_field :received_on, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= form.label :discount %>
    <%= form.text_field :discount, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :reference_number %>
    <%= form.text_field :reference_number, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.rich_text_area :details, class: "form-control trix-content"  %>
  </div>

  <div class="field" class="form-group" data-controller="directuploads" >
    <%= form.label :attachments, "Attachments" %>
    <%= form.file_field :attachments, class: "form-control", direct_upload: true, multiple:true %>
    <small class="text-muted"> Upload multiple attachements. </small>
  </div>

  
  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
