<tr id="<%= dom_id payment %>">
  <td>
    <%= payment.project.client.full_name %>
  </td>
  <td>
    <%= money_to_currency payment.amount, params %>
  </td>
  <td>
    <span class="badge <%= payment_status_badge(payment) %>">
      <%= payment.status %>  
    </span>
  </td>
  <td>
    <%= l payment.due_date if payment.due_date %>
  </td>
  <td>
    <%= l payment.received_on if payment.received_on %>
  </td>
  <td>
    <%= link_to payment.project.name, project_path(payment.project, tab: "payments-tab")  %>
  </td>
  <td>
    <%= link_to payment.phase.name, payment.phase if payment.phase %>
  </td>
  <td>
    <%= payment.discount %>
  </td>
  <td>
    <%= payment.reference_number %>
  </td>
  <td>
    <%= payment.user.full_name %>
  </td>
  <td>
    <%= link_to "Show" , payment , {class: "btn btn-primary" }%>
    <%= link_to "Received" , edit_payment_path(payment, status: "Received") , {class: "btn btn-success"} if policy(payment).update? %>
  </td>
</tr>