<tr id="<%= dom_id payment %>">
  <td>
    <%= payment.company.name %>
  </td>
  <td>
    <%= money_to_currency payment.amount, params %>
  </td>
  <td>
    <%= payment.project.client.full_name %>
  </td>
  <td>
    <%= link_to payment.project.name, payment.project %>
  </td>
  <td>
    <%= link_to payment.phase.name, payment.phase %>
  </td>
  <td>
    <%= payment.discount %>
  </td>
  <td>
    <%= payment.reference_number %>
  </td>
  <td>
    <%= payment.user.full_name %>
  </td>
  <td>
    <%= link_to "Show" , payment , {class: "btn btn-primary" }%>
  </td>
</tr>