<tr id="<%= dom_id payment %>">
  <td>
    <%= payment.company.name %>
  </td>
  <td>
    <%= number_to_currency payment.amount %>
  </td>
  <td>
    <%= payment.plan %>
  </td>
  <td>
    <%= payment.discount %>
  </td>
  <td>
    <%= payment.reference_number %>
  </td>
  <td>
    <%= payment.user.full_name %>
  </td>
  <td>
    <%= link_to "Show" , payment , {class: "btn btn-primary" }%>
  </td>
</tr>