<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Client
      </td>
      <td>
        <%= @payment.project.client.full_name %>
      </td>
    </tr>

    <tr>
      <td>
        Amount
      </td>
      <td>
        <%= money_to_currency @payment.amount, params %>
      </td>
    </tr>

    <tr>
      <td>
        Status
      </td>
      <td>
        <%= @payment.status %>
      </td>
    </tr>


    <tr>
      <td>
        Due Date
      </td>
      <td>
        <%= l @payment.due_date if @payment.due_date %>
      </td>
    </tr>


    <tr>
      <td>
        Received On
      </td>
      <td>
        <%= l @payment.received_on if @payment.received_on %>
      </td>
    </tr>

    <tr>
      <td>
        Project
      </td>
      <td>
        <%= link_to  @payment.project.name, project_path(@payment.project, tab: "payments-tab") %>
      </td>
    </tr>

    <tr>
      <td>
        Phase
      </td>
      <td>
        <%= link_to  @payment.phase.name, @payment.project %>
      </td>
    </tr>
    <tr>
      <td>
        Discount
      </td>
      <td>
        <%= @payment.discount %>
      </td>
    </tr>
    <tr>
      <td>
        Reference Number
      </td>
      <td>
        <%= @payment.reference_number %>
      </td>
    </tr>
    <tr>
      <td>
        User
      </td>
      <td>
        <%= @payment.user.full_name %>
      </td>
    </tr>

    <tr>
      <td>
        Details
      </td>
      <td>
        <%= @payment.details %>
      </td>
    </tr>

    <tr>
      <td>
        Attachments
      </td>
      <td>
        <%= render "/layouts/attachments", attachments: @payment.attachments %>
      </td>
    </tr>


  </table>

  <% if current_user.has_cached_role?(:team_lead) %>
    <div>
      <%= link_to "Edit" , edit_payment_path(@payment), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @payment, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" %>
    </div>
  <% end %>


  <%= render "/layouts/display_attachments", attachments: @payment.attachments %>
