<% show_project_phase ||= params[:show_project_phase] %>

<tr id="<%= dom_id step %>">
  <% if show_project_phase == "Yes" %>
  <td>
    <%= link_to step.project.name, step.project %>
  </td>
  <td>
    <%= link_to step.phase.name, step.phase %>
  </td>
  <% end %>
  
  <td>
    <%= link_to step.name, step %>
  </td>
  <td>
    <span class="badge <%= step.completed ? 'bg-success' : 'bg-warning' %>">
      <%= step.completed ? "Yes" : "No" %>
    </span>  
  </td>
  <td>
    <span class="badge <%= step.approval_status == 'Approved' ? 'bg-success' : 'bg-warning' %>">
      <%= step.approval_status %>
    </span>  
  </td>
  <td>
    <%= l step.start_date %>
  </td>
  <td>
    <%= l step.end_date %>
  </td>
  <td>
    <%= (step.end_date - step.start_date).to_i %>
  </td>
  
  <td>
    <%= step.status %>
    <span class="badge <%= step.delayed? ? 'bg-danger' : 'bg-success' %>">
      <%= step.on_time_status %>
    </span>  
  </td>
  <td>
    <%= step.assigned_to.full_name %>
  </td>
  <td>
    <span class="badge <%= step.visible_to_client ? 'bg-success' : 'bg-warning' %>">
      <%= step.visible_status %>
    </span>  
  </td>
  
  <td>
    <% if policy(step).update? %>
      <%= link_to "Edit" , edit_step_path(step), {class: "btn btn-primary" } if @phase %>
      <%#= button_to "Delete" , step_path(step) , class: "btn btn-danger", method: :delete, confirm: "Are you sure?" %>

      <% if step.approval_status == "Approved" %>
        <% label = step.completed ? "Rework" : "Completed" %>
        <% complete_btn_color = (step.completed) ?  "btn-warning" : "btn-success" %>
        <%= button_to label , toggle_completed_step_path(step, show_project_phase: show_project_phase) , {class: "btn #{complete_btn_color}", method: :patch }%>
      <% end %>
      
      <% if policy(step).approve?  %>
        <% approved = (step.approval_status == "Approved") ?  "Reject" : "Approve" %>
        <% approve_btn_color = (step.approval_status == "Approved") ?  "btn-warning" : "btn-success" %>
        <%= button_to approved , toggle_completed_step_path(step, approval: true, show_project_phase: show_project_phase) , {class: "btn #{approve_btn_color}", method: :patch }%>
      <% end %>

      <%= link_to "Add Note" , new_note_path("note[owner_id]": step.id, "note[owner_type]": step.class.name) , {class: "btn btn-success" }%>
    <% end %>
  </td>
</tr>