<% show_project_phase ||= params[:show_project_phase] %>

<tr id="<%= dom_id step %>">
  <% if show_project_phase == "Yes" %>
  <td>
    <%= link_to step.project.name, step.project %>
  </td>
  <td>
    <%= link_to step.phase.name, step.phase %>
  </td>
  <% end %>
  
  <td>
    <%= link_to step.name, step %>
  </td>
  <td>
    <% if step.approval_status && step.approval_status != "N/A" %>
      <span class="badge <%= step.approval_status == 'Approved' ? 'bg-success' : 'bg-warning' %>">
        <%= step.approval_status %>
      </span>  
    <% end %>
    <span class="badge <%= step.delayed? ? 'bg-danger' : 'bg-success' %>">
      <%= step.on_time_status %>
    </span> 

    <% if @phase && policy(@phase.project).action? %>
      <span class="badge <%= step.visible_to_client ? 'bg-success' : 'bg-warning' %>">
        <%= step.visible_status %>
      </span>  
    <% end %>
  </td>
  <td>
    <%= l step.start_date %>
  </td>
  <td>
    <%= l step.end_date %>
  </td>
  <td>
    <%= (step.end_date - step.start_date).to_i %>
  </td>
  
  <td>
    <%= step.status %>    
  </td>

  <% if @phase && policy(@phase.project).action? %>
    <td>
      <%= step.assigned_to.full_name %>
    </td>
  <% end %>
  
  <td>
    <% step.client_attachments.joins(:step).visible_to_client.each do |attachment| %>
      <%= render "/layouts/attachments", attachments: attachment.attachments, allow_delete: "No" %>
    <% end %>
  </td>
  
  <% if @phase && policy(@phase.project).action? %>
  
    <td>
      <% if policy(step).update? %>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"   
                  data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Edit" , edit_step_path(step), {class: "dropdown-item btn-primary" } if @phase %>
            <%= button_to "Delete" , step_path(step) , class: "dropdown-item btn-danger", method: :delete, data: {action: "click->confirm#delete"} %>

            <% if step.approval_status == "Approved" %>
              <% label = step.completed ? "Rework" : "Completed" %>
              <% complete_btn_color = (step.completed) ?  "btn-warning" : "btn-success" %>
              <%= button_to label , toggle_completed_step_path(step, show_project_phase: show_project_phase) , {class: "dropdown-item #{complete_btn_color}", method: :patch }%>
            <% end %>
        
            <% if policy(step).approve?  %>
              <% approved = (step.approval_status == "Approved") ?  "Reject" : "Approve" %>
              <% approve_btn_color = (step.approval_status == "Approved") ?  "btn-warning" : "btn-success" %>
              <%= button_to approved , toggle_completed_step_path(step, approval: true, show_project_phase: show_project_phase) , {class: "dropdown-item #{approve_btn_color}", method: :patch }%>
            <% end %>

            <%= link_to "Add Note" , new_note_path("note[owner_id]": step.id, "note[owner_type]": step.class.name) , {class: "dropdown-item btn-success" }%>
          </div>
        </div>

      <% end %>
    </td>

  <% end %>
</tr>