<% show_project_phase ||= "No" %>

<tr id="<%= dom_id step %>">
  <% if show_project_phase == "Yes" %>
  <td>
    <%= link_to step.project.name, step.project %>
  </td>
  <td>
    <%= link_to step.phase.name, step.phase %>
  </td>
  <% end %>
  
  <td>
    <%= link_to step.name, step %>
  </td>
  <td>
    <span class="badge <%= step.completed ? 'bg-success' : 'bg-warning' %>">
      <%= step.completed ? "Yes" : "No" %>
    </span>  
  </td>
  <td>
    <%= l step.start_date %>
  </td>
  <td>
    <%= l step.end_date %>
  </td>
  <td>
    <%= (step.end_date - step.start_date).to_i %>
  </td>
  
  <td>
    <%= step.status %>
    <span class="badge <%= step.delayed? ? 'bg-danger' : 'bg-success' %>">
      <%= step.on_time_status %>
    </span>  
  </td>
  <td>
    <%= step.assigned_to.full_name %>
  </td>
  <td>
    <span class="badge <%= step.visible_to_client ? 'bg-success' : 'bg-warning' %>">
      <%= step.visible_to_client ? "Yes" : "No" %>
    </span>  
  </td>
  
  <td>
    <%#= link_to "Show" , step , {class: "btn btn-primary" }%>
    <%= link_to "Edit" , edit_step_path(step, quick_entry: true), {class: "btn btn-primary", data: { turbo_frame: 'step_quick_entry' } } %>
    <%= button_to "Delete" , step_path(step) , class: "btn btn-danger", method: :delete, confirm: "Are you sure?" %>
    <% label = step.completed ? "Incomplete" : "Completed" %>
    <%= button_to label , toggle_completed_step_path(step) , {class: "btn btn-success", method: :patch }%>
    <%= link_to "Add Note" , new_note_path("note[owner_id]": step.id, "note[owner_type]": step.class.name) , {class: "btn btn-success" }%>
  </td>
</tr>