<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @step.name %>
      </td>
    </tr>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        <%= l @step.start_date %>
      </td>
    </tr>
    <tr>
      <td>
        End Date
      </td>
      <td>
        <%= l @step.end_date %>
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%= @step.status %>
      </td>
    </tr>
    <tr>
      <td>
        Project
      </td>
      <td>
        <%= link_to @step.project.name, @step.project %>
      </td>
    </tr>
    <tr>
      <td>
        Phase
      </td>
      <td>
        <%= link_to @step.phase.name, @step.phase %>
      </td>
    </tr>
    <tr>
      <td>
        Assigned To
      </td>
      <td>
        <%= @step.assigned_to.full_name %>
      </td>
    </tr>
    <tr>
      <td>
        Client Visible
      </td>
      <td>
        <span class="badge <%= @step.visible_to_client ? 'bg-success' : 'bg-warning' %>">
          <%= @step.visible_status %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Completed
      </td>
      <td>
        <span class="badge <%= @step.completed ? 'bg-success' : 'bg-warning' %>">
          <%= @step.completed ? "Yes" : "No" %>
        </span>
      </td>
    </tr>

    <tr>
      <td>
        Details
      </td>
      <td>
        <%= @step.details %>
      </td>    
    </tr>

    <tr>
      <td>
        Attachments
      </td>
      <td>
        <ul>
          <%= render "/layouts/attachments", attachments: @step.attachments %>
        </ul>

      </td>
    </tr>



  </table>


  <div>
    <% if policy(@step).update? %>
      <%= link_to "Edit" , edit_step_path(@step), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @step, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" %> |
    <% end %>

    <% if current_user.company_id == @step.company_id %>
      <%= link_to "Add Note" , new_note_path("note[owner_id]": @step.id, "note[owner_type]": @step.class.name) ,
            {class: "btn btn-success" }%> 
    <% end %>
    
  </div>

  <div data-controller="datatable">
    <%= render "/steps/step_details" , step: @step %>
  </div>