<%= render "/layouts/alerts" %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1>
      <%= link_to @step.project.name, @step.project %> :
      <%= link_to @step.phase.name, @step.phase %>
    </h1>
  </div>

  <table class="table table-bordered dataTable">    
    <tr>
      <td>
        Step
      </td>
      <td>
        <%= @step.name %>
      </td>
    </tr>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        <%= l @step.start_date %>
      </td>
    </tr>
    <tr>
      <td>
        End Date
      </td>
      <td>
        <%= l @step.end_date %>
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%= @step.status %>
      </td>
    </tr>
    <tr>
      <td>
        Assigned To
      </td>
      <td>
        <%= @step.assigned_to.full_name %>
      </td>
    </tr>
    <tr>
      <td>
        Client Visible
      </td>
      <td>
        <span class="badge <%= @step.visible_to_client ? 'bg-success' : 'bg-warning' %>">
          <%= @step.visible_status %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Approved
      </td>
      <td>
        <span class="badge <%= @step.approval_status == 'Approved' ? 'bg-success' : 'bg-warning' %>">
          <%= @step.approval_status %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Completed
      </td>
      <td>
        <span class="badge <%= @step.completed ? 'bg-success' : 'bg-warning' %>">
          <%= @step.completed ? "Yes" : "No" %>
        </span>
      </td>
    </tr>

    <tr class="collapse multi-collapse">
      <td>
        Details
      </td>
      <td>
        <%= @step.details %>
      </td>    
    </tr>

    <tr class="collapse multi-collapse">
      <td>
        Attachments
      </td>
      <td>
        <ul>
          <%= render "/layouts/attachments", attachments: @step.attachments %>
        </ul>

      </td>
    </tr>



  </table>


  <div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"          aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Details</button> |
    

    <% if policy(@step).update? %>
      <%= link_to "Edit" , edit_step_path(@step), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @step, method: :delete, class: "btn btn-danger" , form_class: "deleteButton",  data: {action: "click->confirm#delete", turbo: false} %> |
    
      <% step = @step; if step.approval_status == "Approved" %>
          <% label = step.completed ? "Rework" : "Completed" %>
          <% complete_btn_color = (step.completed) ?  "btn-warning" : "btn-success" %>
          <%= button_to label , toggle_completed_step_path(step) , {class: "btn #{complete_btn_color}", method: :patch, data: {turbo: false} }%> |
      <% end %>
      
      <% step = @step; if policy(step).approve?  %>
        <% approved = (step.approval_status == "Approved") ?  "Reject" : "Approve" %>
        <% approve_btn_color = (step.approval_status == "Approved") ?  "btn-warning" : "btn-success" %>
        <%= button_to approved , toggle_completed_step_path(step, approval: true) , {class: "btn #{approve_btn_color}", method: :patch, data: {turbo: false} }%> |
      <% end %>

    <% end %>

    <% if policy(@step).add_note? %>
      <%= link_to "Add Note" , new_note_path("note[owner_id]": @step.id, "note[owner_type]": @step.class.name) ,
            {class: "btn btn-success" }%> 
    <% end %>
    
  </div>

  <div data-controller="datatable">
    <%= render "/steps/step_details" , step: @step %>
  </div>