<%= form_with(model: project_access, validate: true) do |form| %>
  <% if project_access.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(project_access.errors.count, "error") %> prohibited this project_access from being saved:</h2>

      <ul>
        <% project_access.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :company_id, hidden: true  %>

  <div class="form-group" data-controller="projectaccess">
    <%= form.label :user_id %>
    <%= form.select :user_id, current_user.company.clients.collect(&:user).map{|u| [u.full_name, u.id]}, 
        {include_blank: true}, {class: "form-control", data: {action: "change->projectaccess#setRole"} } %>
  </div>

  <div class="form-group">
    <%= form.label :project_id %>
    <%= form.select :project_id, current_user.company.projects.map{|p| [p.name, p.id]}, {include_blank: true}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :role_name %>
    <%= form.select :role_name, ProjectAccess::ROLES, {}, class: "form-control"  %>
  </div>

  <div class="perms form-horizontal form-row align-items-center">
    <% ProjectAccess.permissions.pairs.each do |key, val| %>
      <span class="form-group">
        <%= form.label :permissions, key.titleize %>
        <%= form.check_box :permissions, {name: "project_access[permissions][]",
            val: val, id: "permissions_#{val}", class: "form-control form-checkbox"}, val, nil   %>
      </span>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
