<tr id="<%= dom_id phase %>">
  <td>
    <%= phase.name %>
  </td>
  <td>
    <%= phase.start_date %>
  </td>
  <td>
    <%= phase.end_date %>
  </td>
  <td>
    <%= phase.status %>
    <span class="badge <%= phase.delayed? ? 'bg-danger' : 'bg-success' %>">
      <%= phase.on_time_status %>
    </span>

  </td>
  <td>
    <%= phase.project.name %>
  </td>
  <td>
    <%= phase.assigned_to.full_name %>
  </td>
  <td>
    <span class="badge <%= phase.visible_to_client ? 'bg-success' : 'bg-warning' %>">
      <%= phase.visible_to_client ? "Yes" : "No" %>
    </span>
  </td>
  <td>
    <%= phase.payment_status %>
  </td>
  <td>
    <%= phase.percentage_complete %>
  </td>
  <td>
    <span class="badge <%= phase.completed ? 'bg-success' : 'bg-warning' %>">
      <%= phase.completed ? "Yes" : "No" %>
    </span>
  </td>
  <td>
    <%= link_to "Show" , phase , {class: "btn btn-primary" }%>
    <%= button_to "Delete" , phase_path(phase) , class: "btn btn-danger", method: :delete, confirm: "Are you sure?" %>
    <%= link_to "Add Note" , new_note_path("note[owner_id]": phase.id, "note[owner_type]": phase.class.name) , {class: "btn btn-success" }%>
  </td>
</tr>