<tr id="<%= dom_id phase %>">
  <td>
    <%= phase.name %>
  </td>
  <td>
    <%= l phase.start_date %>
  </td>
  <td>
    <%= l phase.end_date %>
  </td>
  <td>
    <%= (phase.end_date - phase.start_date).to_i %>
  </td>
  <td>
    <div><%= phase.status %></div>
    <span class="badge <%= phase.delayed? ? 'bg-danger' : 'bg-success' %>">
      <%= phase.on_time_status %>
    </span>

  </td>
  
  <td>
    <%= phase.assigned_to.full_name %>
  </td>
  <td>
    <span class="badge <%= phase.visible_to_client ? 'bg-success' : 'bg-warning' %>">
      <%= phase.visible_to_client ? "Yes" : "No" %>
    </span>
  </td>
  <td>
    <% if phase.payment_status == "Payment Pending" %>
      <span class="badge bg-danger">
        <%= phase.payment_status %>
      </span>
    <% else %>
      <%= phase.payment_amount > 0 ? money_to_currency(phase.payment_amount, params) : phase.payment_status %>
    <% end %>
  </td>
  <td>
    <%= phase.payment_due_percentage %> %  
  </td>
  <td>
    <%= money_to_currency phase.payment_due, params %>
  </td>
  <td>
    <%= number_with_precision phase.percentage_completed_days, precision: 2 %> %
  </td>
  <td>
    <span class="badge <%= phase.completed ? 'bg-success' : 'bg-warning' %>">
      <%= phase.completed ? "Yes" : "No" %>
    </span>
  </td>
  <td>
    <%= link_to "Show" , phase , {class: "btn btn-primary" }%>
    <% label = phase.completed ? "Incomplete" : "Completed" %>
    <%= button_to label , toggle_completed_phase_path(phase) , {class: "btn btn-success", method: :patch }%>

    <%= button_to "Delete" , phase_path(phase) , class: "btn btn-danger", method: :delete, confirm: "Are you sure?" %>
    <% #= link_to "Add Note" , new_note_path("note[owner_id]": phase.id, "note[owner_type]": phase.class.name) , {class: "btn btn-success" }%>
  </td>
</tr>