<tr id="<%= dom_id phase %>">
  <td>
    <%= link_to phase.name, phase %>
  </td>
  <td>
    <span class="badge <%= phase_completion_badge(phase) %>">
      <%= number_with_precision phase.percentage_completed_days, precision: 2 %>%
    </span>
  </td>
  <td>
    <%= l phase.start_date %>
  </td>
  <td>
    <%= l phase.end_date %>
  </td>
  <td>
    <%= phase.days %>
  </td>
  <td>
    <div><%= phase.status %></div>
    <span class="badge <%= phase.delayed? ? 'bg-danger' : 'bg-success' %>">
      <%= phase.on_time_status %>
    </span>

  </td>
  
  <td>
    <%= phase.assigned_to.full_name %>
  </td>
  <td>
    <span class="badge <%= phase.visible_to_client ? 'bg-success' : 'bg-warning' %>">
      <%= phase.visible_to_client ? "Yes" : "No" %>
    </span>
  </td>
  <td>
    <% if phase.payment_amount > 0 %>
      <div><%= money_to_currency(phase.payment_amount, params) %></div>
    <% end %>
    <span class="badge <%= phase_payment_status_badge(phase) %>">
      <%= phase.payment_status %>
    </span>
  </td>
  <td>
    <%= phase.payment_due_percentage %> %  
  </td>
  <td>
    <span class="<%= (phase.completed && phase.due_amount != 0) ? 'text-danger':'' %>" >
      <%= money_to_currency phase.due_amount, params %>
    </span>    
  </td>
  
  <td>
    <% if policy(phase).update? %>
      <%= link_to "Quick Edit" , edit_phase_path(phase, quick_entry:true) , {class: "btn btn-primary", data: { turbo_frame: 'phase_quick_entry' } }%>
      <% label = phase.completed ? "Not Complete" : "Completed" %>
      <%#= button_to label , toggle_completed_phase_path(phase) , {class: "btn btn-success", method: :patch }%>
      <%= button_to "Delete" , phase_path(phase) , class: "btn btn-danger", method: :delete, confirm: "Are you sure?" %>
    <% end %>
    <% #= link_to "Add Note" , new_note_path("note[owner_id]": phase.id, "note[owner_type]": phase.class.name) , {class: "btn btn-success" }%>
  </td>
</tr>