<%= turbo_frame_tag "phase_quick_entry" do %>


<%= form_with(model: phase, class: "form-inline") do |form| %>
 
  <% if phase.id.present? %>
    <small class="alert alert-info">Editing <%= phase.name %></small>
  <% end %>

  <div class="form-row">

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
    <%= form.text_field :project_id, hidden: true  %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control"  %>
  </div>

  <div class="form-group small-group">
    <%= form.label :days %>
    <%= form.number_field :days, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Phase::STATUS, {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :assigned_to_id %>
    <%= form.select :assigned_to_id, current_user.company.users.team_leads.map{|u| [u.full_name, u.id]}, {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :payment_required, "Payment" %>
    <%= form.check_box :payment_required, class: "form-control checkmark"  %>
  </div>

  <div class="form-group small-group">
    <%= form.label :payment_due_percentage, "Payment%" %>
    <%= form.number_field :payment_due_percentage, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :visible_to_client, "Visible" %>
    <%= form.check_box :visible_to_client, class: "form-control checkmark"  %>
  </div>


  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
    <%= link_to "Clear", new_phase_path("phase[project_id]": phase.project_id, 
                          quick_entry:true), 
                          {class: "btn btn-primary", data: { turbo_frame: 'phase_quick_entry' }}%>
  </div>

  </div>

<% end %>

<% end %>
