<%= render "/layouts/alerts" %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1>Project: <%= link_to @phase.project.name, @phase.project %></h1>
  </div>

  <table class="table table-bordered dataTable">
    
    <tr>
      <td>
        Phase
      </td>
      <td>
        <%= @phase.name %>
      </td>
    </tr>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        <%= @phase.start_date %>
      </td>
    </tr>
    <tr>
      <td>
        End Date
      </td>
      <td>
        <%= @phase.end_date %>
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%= @phase.status %>
      </td>
    </tr>
    <tr>
      <td>
        Assigned To
      </td>
      <td>
        <%= @phase.assigned_to.full_name %>
      </td>
    </tr>


    <tr class="collapse multi-collapse">
      <td>
        Client Visible
      </td>
      <td>
        <span class="badge <%= @phase.visible_to_client ? 'bg-success' : 'bg-warning' %>">
          <%= @phase.visible_status %>
        </span>
      </td>
    </tr>
    

    <tr class="collapse multi-collapse">
      <td>
        Details
      </td>
      <td>
        <%= @phase.details %>
      </td>
    </tr>

    <tr class="collapse multi-collapse">
      <td>
        Progress
      </td>
      <td>
        <%= number_with_precision @phase.percentage_completed_days, precision: 2 %> %
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width:<%=@phase.percentage_completed_days%>%" aria-valuenow="<%=@phase.percentage_completed_days%>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </td>
    </tr>

    <tr class="collapse multi-collapse">
      <td>
        Days
      </td>
      <td>
        Total: <%= @phase.total_days %>, 
        Completed: <%= @phase.completed_days %>
      </td>    
    </tr>

    <tr class="collapse multi-collapse">
      <td>
        Payment on Completion
      </td>
      <td>
        <span class="badge <%= @phase.payment_required ? 'bg-success' : 'bg-warning' %>">
          <%= @phase.payment_required ? "Yes" : "No" %>
        </span>
      </td>
    </tr>

    <% if @phase.payment_required %>

      <tr class="collapse multi-collapse">
        <td>
          Payment Status
        </td>
        <td>
          <%= @phase.payment_status %>
        </td>
      </tr>


      <tr class="collapse multi-collapse">
        <td>
          Payment Due Percentage
        </td>
        <td>
          <%= @phase.payment_due_percentage %> %
        </td>
      </tr>

      <tr class="collapse multi-collapse">
        <td>
          Payment Due
        </td>
        <td>
          <%= money_to_currency @phase.payment_due, params %>
        </td>
      </tr>


      <tr class="collapse multi-collapse">
        <td>
          Payment Received
        </td>
        <td>
          <%= money_to_currency @phase.payment_amount, params %>
        </td>
      </tr>

    <% end %>


    <tr class="collapse multi-collapse">
      <td>
        Completed
      </td>
      <td>
        <span class="badge <%= @phase.completed ? 'bg-success' : 'bg-warning' %>">
          <%= @phase.completed ? "Yes" : "No" %>
        </span>
      </td>
    </tr>


  </table>


  <div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"          aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Details</button> |
    
    <% if policy(@phase).update? %>
      <%= link_to "Edit" , edit_phase_path(@phase), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @phase, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#delete", turbo: false} %> |
    <% end %>
    <%= link_to "Add Note" , new_note_path("note[owner_id]": @phase.id, "note[owner_type]": @phase.class.name) , {class: "btn btn-success" }%> 

  </div>

  <div data-controller="datatable">
    <%= render "/phases/phase_details", phase: @phase %>
  </div>